<ul class="tweet-media list-inline mb-0">
  <li class="list-inline-item">
    <button type="button" class="btn btn-outline-info btn-sm border-0">
      <i class="bi bi-images"></i>
    </button>
  </li>
  <li class="list-inline-item">
    <button type="button" class="btn btn-outline-info btn-sm border-0">
      <i class="bi bi-filetype-gif"></i>
    </button>
  </li>
  <li class="list-inline-item">
    <button type="button" class="btn btn-outline-info btn-sm border-0">
      <i class="bi bi-bar-chart"></i>
    </button>
  </li>
  <li class="list-inline-item">
    <button type="button" class="btn btn-outline-info btn-sm border-0">
      <i class="bi bi-emoji-smile"></i>
    </button>
  </li>
  <li class="list-inline-item">
    <button type="button" class="btn btn-outline-info btn-sm border-0">
      <i class="bi bi-stopwatch"></i>
    </button>
  </li>
</ul>
