<article class="d-flex">
  <app-avatar [user]="tweet.user"></app-avatar>

  <main class="tweet-body flex-grow-1">
    <header>
      <div class="user-info d-flex gap-1">
        <strong>{{ tweet.user.name }}</strong> <span>@{{ tweet.user.handle }}</span>
        <time [attr.datetime]="tweet.datetime" class="me-auto">&bull; {{tweet.datetime | timeago }}</time>

        <button
          (click)="onDeleteTweet()"
          type="button"
          class="btn btn-outline-info btn-sm border-0 align-self-end"
        >
          <i class="bi bi-x"></i>
        </button>
      </div>
    </header>

    <main>
      <div [innerHTML]="tweet.message"></div>
    </main>

    <footer>
      <app-tweet-interactions></app-tweet-interactions>
      <time [attr.datetime]="tweet.datetime">{{ tweet.datetime | date: 'MMM dd yyyy, HH:mm' }}</time>
    </footer>
  </main>

</article>

<ng-container *ngIf="confirmDelete">
  <div class="modal show" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <p>Do you really want to delete this tweet?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="onDeleteConfirm()">Yes, delete it</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
