<section class="d-flex border-bottom pb-3 mb-3">
  <div class="flex-shrink-0">
    <img
      src="https://unsplash.it/100/100"
      alt=""
      class="w-75 ratio ratio-1x1 rounded-circle"
    />
  </div>

  <form
    class="composer flex-grow-1"
    #composerForm="ngForm"
    (ngSubmit)="onSendTweet(composerForm)"
  >
    <div class="composer-textarea mb-3">
      <textarea
        class="form-control w-100 h-20"
        placeholder="What's going on?"
        [maxLength]="CHAR_LIMIT"
        name="tweet"
        ngModel
        required
        #tweetMessage="ngModel"
      ></textarea>
      <span class="form-text d-flex justify-content-end">
        <span class="counter"
        [ngClass]="{
          'text-danger': tweetMessage.value?.length > (CHAR_LIMIT * .92),
          'text-warning': tweetMessage.value?.length > (CHAR_LIMIT * .85) && tweetMessage.value?.length < (CHAR_LIMIT * .92),
        }">
          {{tweetMessage.value?.length}}</span>/{{CHAR_LIMIT}}
      </span>
    </div>

    <div class="composer-controls d-flex justify-content-between">
      <app-tweet-media></app-tweet-media>
      <input
        [disabled]="!composerForm.form.valid"
        class="btn btn-primary rounded-5 px-4"
        type="submit"
        value="Tweet"
      />
    </div>
  </form>
</section>
