<section class="d-flex border-bottom pb-3 mb-3">
  <div class="flex-shrink-0">
    <img
      src="https://unsplash.it/100/100"
      alt=""
      class="w-75 ratio ratio-1x1 rounded-circle"
    />
  </div>

  <div class="composer flex-grow-1">
    <textarea class="form-control w-100 h-20 mb-3" placeholder="What's going on?">lorem</textarea>
    <span class="character-count"></span>

    <div class="composer-controls d-flex justify-content-between">
      <app-tweet-media></app-tweet-media>
      <input class="btn btn-primary rounded-5 px-4" type="submit" value="Tweet" />
    </div>
  </div>
</section>
